<%- include('../partials/metadata') %>
  <%- include('../partials/navbar') %>
    <% const {id, title, date_start, date_end, location, description, access, subscribed, notics, image, facebook,
      organizer, discussions, notices, created_by}=event %>

      <main class="pt-16">
        <div class="flex h-72 items-end bg-cover bg-center" style='background-image: url("<%= image %>")'>
          <div class="w-full flex-col px-36 py-4" style="
        background: linear-gradient(0deg, black, transparent 120%) no-repeat;
      ">
            <h5 class="text-base font-bold tracking-tight text-red-500 dark:text-white">
              <%= dateFormat(date_start, 'ddd, d mmm "at" hh:mm' ) %> - <%= dateFormat(date_end, 'd mmm "at" hh:mm' ) %>
            </h5>
            <h1 class="text-3xl font-bold tracking-tight text-gray-100 dark:text-white">
              <%= title %>
            </h1>
            <h5 class="text-sm tracking-tight text-gray-200 dark:text-white">
              <%= location %>
            </h5>
          </div>
        </div>
        <div class="flex justify-center">
          <section class="max-w-72 mx-32 grid grid-cols-3 gap-4 pt-2">
            <article class="mr-28 flex flex-col">
              <div class="sticky top-16">
                <div class="w-full rounded-lg dark:border-gray-700 dark:bg-gray-800">
                  <div class="px-4 py-1">
                    <div class="my-4">
                      <% if(access==='ticket' ) { %>
                        <button type="submit"
                          class="my-2 w-full items-center rounded-lg bg-indigo-700 py-2.5 px-4 text-center text-xs font-medium text-white hover:bg-indigo-800 focus:ring-4 focus:ring-indigo-200 dark:focus:ring-indigo-900">
                          Buy Ticket
                        </button>
                        <% } else if(access==='open' ) {%>
                          <kbd
                            class="my-4 rounded-lg border border-gray-200 bg-gray-100 px-2 py-1.5 text-xs font-semibold text-gray-800 dark:border-gray-500 dark:bg-gray-600 dark:text-gray-100">
                            <%= access %>
                          </kbd>
                          <% } %>

                            <br />
                            <% if(!locals.subscribed ) { %>
                              <a href='//<%=baseURL%>/subscribe-now?event=<%= id %>'><button
                                  class="my-2 w-full items-center rounded-lg bg-gray-600 py-2.5 px-4 text-center text-xs font-medium text-white hover:bg-gray-800 focus:ring-4 focus:ring-indigo-200 dark:focus:ring-indigo-900">
                                  Subscribe
                                </button></a>
                              <% } %>
                    </div>
                    <h5 class="mb-3 text-base font-bold tracking-tight text-gray-900 dark:text-white">
                      Subscribed: <%= subscribed %>
                    </h5>
                    <div class="mb-3">
                      <h6 class="text-sm tracking-tight text-gray-900 dark:text-white">
                        Organized By:
                      </h6>
                      <p class="text-base font-bold tracking-tight text-gray-900 dark:text-white">
                        <%= organizer %>
                      </p>
                    </div>
                    <div class="mb-3">
                      <h6 class="text-sm tracking-tight text-gray-900 dark:text-white">
                        Created By:
                      </h6>
                      <p class="text-base font-bold tracking-tight text-gray-900 dark:text-white">
                        <%= created_by %>
                      </p>
                    </div>
                    <br />
                    <div class="mb-3">
                      <p class="font-sm text-base tracking-tight text-gray-900 dark:text-white">
                        <%= description %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="col-span-2">
              <div class="sticky top-16 border-b border-gray-200 bg-white dark:border-gray-700">
                <ul class="-mb-px flex flex-wrap text-center text-sm font-medium text-gray-500 dark:text-gray-400">
                  <li id="notices-tab" onclick='changeTab("notices")'
                    class="tab-text tab-active group mr-2 inline-flex cursor-pointer rounded-t-lg border-b-2 border-transparent p-4"
                    aria-current="page">
                    <svg aria-hidden="true" class="tab-icon mr-2 h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
                        clip-rule="evenodd"></path>
                    </svg>
                    Notice
                  </li>
                  <li id="discussions-tab" onclick='changeTab("discussions")'
                    class="tab-text tab-inactive group mr-2 inline-flex cursor-pointer rounded-t-lg border-b-2 border-transparent p-4">
                    <svg aria-hidden="true" class="tab-icon mr-2 h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z">
                      </path>
                    </svg>
                    Discusssion
                  </li>
                </ul>
              </div>
              <div id="notices-container" class="w-full py-8">
                <% if(created_by===profile.username ) { %>
                  <form action='/event/<%= id %>/post' method='post'>
                    <input type="hidden" name="type" value='notices'>
                    <div
                      class="-ml-2.5 w-full rounded-lg border-2 border-indigo-500 bg-gray-50 dark:border-indigo-600 dark:bg-gray-700">
                      <div class="rounded-t-lg bg-white pt-2 dark:bg-gray-800">
                        <label for="comment" class="sr-only">Your comment</label>
                        <textarea id="comment" rows="2" name='message'
                          class="w-full border-0 bg-white px-4 text-sm text-gray-900 focus:ring-0 dark:bg-gray-800 dark:text-white dark:placeholder-gray-400"
                          placeholder="Write a notice..." required></textarea>
                      </div>
                      <div class="flex w-full items-center justify-end border-t py-2 px-3 dark:border-gray-600">
                        <button type="submit"
                          class="inline-flex items-center rounded-lg bg-indigo-700 py-2.5 px-4 text-center text-xs font-medium text-white hover:bg-indigo-800 focus:ring-4 focus:ring-indigo-200 dark:focus:ring-indigo-900">
                          Post Notice
                        </button>
                      </div>
                    </div>
                  </form>
                  <% } %>
                    <div class="border-l-2 border-indigo-500 px-5">
                      <% notics.reverse().forEach(({date, title, message})=> { %>
                        <div>
                          <div class="mx-3 flex items-center gap-3">
                            <div class="mt-6 mb-2">
                              <h5 class="text-sm tracking-tight text-gray-900 dark:text-white">
                                <%= dateFormat(date, 'd mmm "at" hh:mm' ) %>
                              </h5>
                            </div>
                          </div>
                          <div
                            class="max-w-42 bg-grey-900 block rounded-lg border border-gray-200 p-6 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                            <p class="text-sm font-normal text-gray-700 dark:text-gray-400">
                              <%= message %>
                            </p>
                          </div>
                        </div>
                        <% }) %>
                    </div>
              </div>
              <div id="discussions-container" class="hidden w-full py-8">
                <% if(created_by===profile.username ) { %>
                  <form action='/event/<%= id %>/post' method='post'>
                    <input type="hidden" name="type" value='discussions'>
                    <div class="-ml-2.5 flex items-center rounded-lg bg-gray-50">
                      <textarea id="chat" rows="1" name='message'
                        class="block w-full rounded-lg border-2 border-indigo-500 bg-white p-4 text-sm text-gray-900 focus:border-indigo-500 focus:ring-indigo-500 dark:border-indigo-600 dark:bg-gray-800 dark:text-white dark:placeholder-gray-400 dark:focus:border-indigo-500 dark:focus:ring-indigo-500"
                        placeholder="Your message..."></textarea>
                      <button type="submit"
                        class="ml-2 inline-flex cursor-pointer justify-center rounded-full p-2 text-indigo-600 hover:bg-indigo-100 dark:text-indigo-500 dark:hover:bg-gray-600">
                        <svg aria-hidden="true" class="h-10 w-10 rotate-90" fill="currentColor" viewBox="0 0 20 20"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z">
                          </path>
                        </svg>
                        <span class="sr-only">Send message</span>
                      </button>
                    </div>
                  </form>
                  <% } %>
                    <% discussions.reverse().forEach(({date, message, created_by})=> { %>
                      <div class="border-l-2 border-indigo-500 px-5">
                        <div class="mx-3 flex items-center gap-3">
                          <h5 class="text-xs font-bold tracking-tight text-gray-900 dark:text-white">
                            <%= created_by %>
                          </h5>
                          <div class="ml-auto mt-6 mb-2">
                            <i class="text-xs tracking-tight text-gray-900 dark:text-white">
                              <%= dateFormat(date, 'hh:mm "on" d mmm' ) %>
                            </i>
                          </div>
                        </div>

                        <div
                          class="max-w-42 bg-grey-900 block rounded-lg border border-gray-200 p-6 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                          <p class="text-sm font-normal text-gray-700 dark:text-gray-400">
                            <%= message %>
                          </p>
                        </div>
                      </div>
                      <% }) %>
              </div>
            </article>
          </section>
        </div>
      </main>

      <script>
        const changeTab = (tab) => {
          const tabs = ["notices", "discussions"]

          tabs.map((tab) => {
            document
              .getElementById(`${tab}-tab`)
              .classList.replace("tab-active", "tab-inactive")

            const container = document.getElementById(`${tab}-container`)

            if (!container.classList.contains("hidden")) {
              container.classList.add("hidden")
            }
          })

          document
            .getElementById(`${tab}-tab`)
            .classList.replace("tab-inactive", "tab-active")
          document.getElementById(`${tab}-container`).classList.remove("hidden")
        }
        const checkTab = () => {
          const query = window.location.search.substr(1).split("&").reduce((acc, param) => { const [key, value] = param.split("="); return { ...acc, [key]: value }; }, {})
          if (query.tab) {
            changeTab(query.tab)
          }
        }

        window.onload = checkTab;
      </script>
      <%- include('../partials/close') %>
